frontend/.env
frontend/node_modules
Backend/.env
Backend/node_modules
pet-admin-dashboard/.env
pet-admin-dashboard/node_modules
pet-admin-dashboard/.next


frontend.code-workspace
pet-admin-dashboard.code-workspace
Backend_v2/node_modules/uuid/dist/esm/bin/uuid
